
@model List<BikePoints>

<head>
    <meta charset="utf-8">
<!-- Nous chargeons les fichiers CDN de Leaflet. Le CSS AVANT le JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
    <style type="text/css">
        #map 
        {
        height: 800px;
        }
    </style>
    <title>Carte</title>
</head>

<div id="map" class="container-fluid">
<!-- Empty div for the map -->
</div>

<!-- Javascripts for leaflet and clusters -->
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js'></script>
<script type="text/javascript">
// Setting a default position (Bordeaux by default to switch beetween the two towns by refusing or accepting the localisation)
    var latitude_user = 44.8333;
    var longitude_user = -0.5667;
    var macarte = null;
// Initializing the clusters
    var markerCluster;

// Getting bike stations
    var stations = [
        @foreach (var data in Model)
        {
            <text>{
                "name": "@data.name",
                "lat":@data.lat,
                "lgn":@data.lng,
                "status":"@data.status",
            "available_bike": "@data.available_bikes",

            },</text>

        }
    ];

// Initlializing map
    function initMap() {

// Setting the map with user coordinates
	    macarte = L.map('map').setView([latitude_user, longitude_user], 11);
// Setting OpenStreetMap server for Leaflet
	    L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
		    attribution: 'données © OpenStreetMap/ODbL - rendu OSM France',
		    minZoom: 11,
		    maxZoom: 20
        }).addTo(macarte);

// Setting variable to group markers
        var markerCluster = L.markerClusterGroup();

// Adding marker for each station
	    for (station in stations) {
            var marker =
                L.marker([stations[station].lat, stations[station].lgn]);
                marker.bindPopup
                    (
                    [stations[station].name] +
                    "<ul><li>" + [stations[station].status] + "</li>" +
                    "<li>" + [stations[station].available_bike] + "</li></ul>"
            );

// Adding markers groups to map layer
            markerCluster.addLayer(marker);
        }
        macarte.addLayer(markerCluster);
    }

    window.onload = function () {

// Getting user position BEFORE initializing the map to pass the parameter of the user to the map if localisation is ok
        navigator.geolocation.getCurrentPosition(userLocation,()=>initMap());
        function userLocation(position)
        {
            longitude_user = position.coords.longitude;
            latitude_user = position.coords.latitude;
            initMap();
        }
    };
</script>

